body{
    margin: 0;
    background-image: url(./Images/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.main-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    padding: 5px;
}

.name{
    margin-top: 20%;
    height: 80px;
    width: 60%;
    font-size: xx-large;
    text-align: center;
}

.occ{  
    margin-top: 5%;
    height: 40px;
    width: 60%;
    font-size: large;
    text-align: center;
}

.desc{   
    margin-top: 5%;
    min-height: 200px;
    min-width: 70%;
    max-width: 70%;
}

.main-drawing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.main-img{
    width: 70%;
    margin: 20px;
}

.main-draw-desc{
    width: 20%;
    margin-bottom: 10px;
    padding: 3px;
    text-align: center;
}

.main-drawing-container{
    width: 70%;
}

.draw-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 10px;
}

.sec-img{
    width: 80%;
    margin: 10px;
}

.sec-desc{
    width: 70%;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

.sec-drawing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.filetype{
    margin: 5px;
    border-radius: 0%;
}

.new-drawing{
    padding: 10px;
    margin: 50px;
    font-weight: 700;
}

.export{
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}

button{
    border-radius: 100%;
    box-shadow: 1px 1px 5px black;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

img{
    box-shadow: 1px 1px 5px black;
    border-radius: 5px; 
}

input{
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    font-family: 'Raleway', sans-serif;
}

textarea{
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
